body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

.action-button {
    background-color: #007bff;
    color: white;
    padding: 5px 1px;
    border: none;
    cursor: pointer;
}

.edit-button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.save-button {
    background-color: #2196F3;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.delete-button {
    background-color: #f44336;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.add-product-button {
    width: auto;
    background: linear-gradient(145deg, #6dbf8e, #4caf50);
    color: white;
    padding: 1px 155px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.edit-button:hover {
    background-color: #45a049;
}

.save-button:hover {
    background-color: #0b7dda;
}

.delete-button:hover {
    background-color: #d32f2f;
}

.add-product-button:hover {
    background: linear-gradient(145deg, #4caf50, #6dbf8e);
    transform: translateY(-3px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.order-info {
    background-color: #f0f0f0;
    padding: 15px;
    text-align: center;
    margin-bottom: 10px;
    height: 100%;
}

.order-info2 {
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    height: 100%;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}

.product-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

.pagination button {
    padding: 10px 16px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(135deg, #17a2b8, #20c997);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.pagination button:hover {
    background: linear-gradient(135deg, #20c997, #17a2b8);
    transform: translateY(-2px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.pagination button:disabled {
    background-color: #e9ecef;
    color: #adb5bd;
    cursor: not-allowed;
    box-shadow: none;
}

.pagination span {
    padding: 10px 16px;
    font-size: 14px;
    font-weight: bold;
    color: #495057;
    background-color: #f8f9fa;
    border-radius: 5px;
    margin: 0 6px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.pagination span.current-page {
    background: linear-gradient(135deg, #17a2b8, #20c997);
    color: #fff;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}
